@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,600,700');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Open Sans', Arial, sans-serif;
}

@media only screen and(max-width: 420px) {
  html {
    font-size: 50%;
  }
}

:root {
  --color-primary-light: #e74c3c;
  --color-primary: #c0392b;
}
